relaysFlow.json
[
    {
        "id": "eeb41b0d.50724",
        "type": "tab",
        "label": "Relay Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "379a50cd.56088",
        "type": "rpi-gpio out",
        "z": "eeb41b0d.50724",
        "name": "GPIO 23 Relay 1",
        "pin": "23",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1290,
        "y": 120,
        "wires": []
    },
    {
        "id": "cc4055c5.c03fa8",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 1 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "78ddf04834c55221"
            ]
        ]
    },
    {
        "id": "fa3635ce.9755e",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 1 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "78ddf04834c55221"
            ]
        ]
    },
    {
        "id": "6416fe6b.ea5b48",
        "type": "link in",
        "z": "eeb41b0d.50724",
        "name": "Temperature Sensor 1",
        "links": [
            "2d8589dc.c2ea4e"
        ],
        "x": 355,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c53eead0.6672e",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "73",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "73",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "e3618bdb.9ea73"
            ],
            [
                "988b87e3.dd2248"
            ]
        ]
    },
    {
        "id": "e3618bdb.9ea73",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 40,
        "wires": [
            [
                "78ddf04834c55221"
            ]
        ]
    },
    {
        "id": "988b87e3.dd2248",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 80,
        "wires": [
            [
                "78ddf04834c55221"
            ]
        ]
    },
    {
        "id": "b2baec8f.a4c8",
        "type": "link in",
        "z": "eeb41b0d.50724",
        "name": "Moisture Sensor 1",
        "links": [
            "c9c3891.437a7f8"
        ],
        "x": 355,
        "y": 700,
        "wires": [
            [
                "d53ff0fd.b98f5",
                "0fdd72d3b6a3e63a"
            ]
        ]
    },
    {
        "id": "d53ff0fd.b98f5",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "72",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "72",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "4a24b05c.b054c"
            ],
            [
                "13bbc72e.0d0af9"
            ]
        ]
    },
    {
        "id": "4a24b05c.b054c",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 700,
        "wires": [
            [
                "a351116a98cb1222",
                "3974b04042dcaa55"
            ]
        ]
    },
    {
        "id": "13bbc72e.0d0af9",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c3ffcf7.11ff63",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Manual Controls",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "1b8c0a95.684ccd",
        "type": "link in",
        "z": "eeb41b0d.50724",
        "name": "Discord 1",
        "links": [
            "44824285.da1d54"
        ],
        "x": 355,
        "y": 120,
        "wires": [
            [
                "78ddf04834c55221"
            ]
        ]
    },
    {
        "id": "12587dd6.6c56f2",
        "type": "ui_text",
        "z": "eeb41b0d.50724",
        "group": "160e81fb.f1c86e",
        "order": 2,
        "width": 5,
        "height": 2,
        "name": "Relay 1 Status",
        "label": "Relay 1 Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1280,
        "y": 60,
        "wires": []
    },
    {
        "id": "f9ccd729.dcc9a8",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 60,
        "wires": [
            [
                "dca8982e.866e6"
            ],
            [
                "95183eb.5ce894"
            ]
        ]
    },
    {
        "id": "dca8982e.866e6",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 40,
        "wires": [
            [
                "12587dd6.6c56f2"
            ]
        ]
    },
    {
        "id": "95183eb.5ce894",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 80,
        "wires": [
            [
                "12587dd6.6c56f2"
            ]
        ]
    },
    {
        "id": "ece78cd.30ec07",
        "type": "ui_text",
        "z": "eeb41b0d.50724",
        "group": "160e81fb.f1c86e",
        "order": 3,
        "width": 5,
        "height": 2,
        "name": "Relay 2 Status",
        "label": "Relay 2 Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1280,
        "y": 240,
        "wires": []
    },
    {
        "id": "b4ac983c.816398",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "f6e41844.d79ee8"
            ],
            [
                "25410d32.726552"
            ]
        ]
    },
    {
        "id": "f6e41844.d79ee8",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 220,
        "wires": [
            [
                "ece78cd.30ec07"
            ]
        ]
    },
    {
        "id": "25410d32.726552",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 260,
        "wires": [
            [
                "ece78cd.30ec07"
            ]
        ]
    },
    {
        "id": "72ec4091.12f2c",
        "type": "ui_text",
        "z": "eeb41b0d.50724",
        "group": "160e81fb.f1c86e",
        "order": 4,
        "width": 5,
        "height": 2,
        "name": "Relay 3 Status",
        "label": "Relay 3 Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1280,
        "y": 420,
        "wires": []
    },
    {
        "id": "6d4f3d07.d14824",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 420,
        "wires": [
            [
                "86823bc7.302da"
            ],
            [
                "25a0985a.39a19"
            ]
        ]
    },
    {
        "id": "86823bc7.302da",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 400,
        "wires": [
            [
                "72ec4091.12f2c"
            ]
        ]
    },
    {
        "id": "25a0985a.39a19",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "72ec4091.12f2c"
            ]
        ]
    },
    {
        "id": "bf94aa58.4ac9f8",
        "type": "ui_text",
        "z": "eeb41b0d.50724",
        "group": "160e81fb.f1c86e",
        "order": 5,
        "width": 5,
        "height": 2,
        "name": "Relay 4 Status",
        "label": "Relay 4 Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1280,
        "y": 600,
        "wires": []
    },
    {
        "id": "ead6e97b.9ffac",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 600,
        "wires": [
            [
                "455fc00a.668b48"
            ],
            [
                "4e295799.5e9ce"
            ]
        ]
    },
    {
        "id": "455fc00a.668b48",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "bf94aa58.4ac9f8"
            ]
        ]
    },
    {
        "id": "4e295799.5e9ce",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "bf94aa58.4ac9f8"
            ]
        ]
    },
    {
        "id": "a7fa8c32.12231",
        "type": "rpi-gpio out",
        "z": "eeb41b0d.50724",
        "name": "GPIO 24 Relay 2",
        "pin": "24",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1290,
        "y": 300,
        "wires": []
    },
    {
        "id": "b8e2a923.8f3318",
        "type": "rpi-gpio out",
        "z": "eeb41b0d.50724",
        "name": "GPIO 27 Relay 3",
        "pin": "27",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1290,
        "y": 480,
        "wires": []
    },
    {
        "id": "89bf42cc.c12fd",
        "type": "rpi-gpio out",
        "z": "eeb41b0d.50724",
        "name": "GPIO 22 Relay 4",
        "pin": "22",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "89241814.ce3828",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 2 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "6cd18a751b74f234"
            ]
        ]
    },
    {
        "id": "d803ace1.e927d",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 2 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 11 * * *",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "6cd18a751b74f234"
            ]
        ]
    },
    {
        "id": "7787d714.14796",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 3 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "2b6b011f97c61ed4"
            ]
        ]
    },
    {
        "id": "30a87b27.1af65c",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 3 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "2b6b011f97c61ed4"
            ]
        ]
    },
    {
        "id": "8eed99e3.72ddb8",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 4 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "68b247e0acd356a7"
            ]
        ]
    },
    {
        "id": "8041f579.6a9dc",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 4 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "68b247e0acd356a7"
            ]
        ]
    },
    {
        "id": "5e9d023b.228c84",
        "type": "link in",
        "z": "eeb41b0d.50724",
        "name": "Discord 2",
        "links": [
            "dfda1445.0991b"
        ],
        "x": 355,
        "y": 300,
        "wires": [
            [
                "6cd18a751b74f234"
            ]
        ]
    },
    {
        "id": "42193f2e.f10ec8",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Discord",
        "info": "",
        "x": 270,
        "y": 120,
        "wires": []
    },
    {
        "id": "a0399ccd.a27c78",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Discord",
        "info": "",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "9e7d0ea3.0f6318",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Discord",
        "info": "",
        "x": 270,
        "y": 480,
        "wires": []
    },
    {
        "id": "a84ea0a5.15c4e8",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Discord",
        "info": "",
        "x": 270,
        "y": 660,
        "wires": []
    },
    {
        "id": "6afda6d2.98e058",
        "type": "link in",
        "z": "eeb41b0d.50724",
        "name": "Discord 3",
        "links": [
            "2ff36f47.30479"
        ],
        "x": 355,
        "y": 480,
        "wires": [
            [
                "2b6b011f97c61ed4"
            ]
        ]
    },
    {
        "id": "2e9b2edd.c1af42",
        "type": "link in",
        "z": "eeb41b0d.50724",
        "name": "Discord 4",
        "links": [
            "cce6d0c4.37c738"
        ],
        "x": 355,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "64924f61.1122f8",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Set temp parameters in switch",
        "info": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "204939c2.be6426",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Set moisture parameters in switch",
        "info": "",
        "x": 360,
        "y": 740,
        "wires": []
    },
    {
        "id": "232989b7.a868de",
        "type": "link in",
        "z": "eeb41b0d.50724",
        "name": "Temperature Sensor 1",
        "links": [
            "2d8589dc.c2ea4e"
        ],
        "x": 355,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "969cda5e.95ab4",
        "type": "link in",
        "z": "eeb41b0d.50724",
        "name": "Temperature Sensor 1",
        "links": [
            "2d8589dc.c2ea4e"
        ],
        "x": 355,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "da5140a3.db7b1",
        "type": "link in",
        "z": "eeb41b0d.50724",
        "name": "Temperature Sensor 1",
        "links": [
            "2d8589dc.c2ea4e"
        ],
        "x": 355,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c2113f49.8c2fc",
        "type": "trigger",
        "z": "eeb41b0d.50724",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "379a50cd.56088"
            ]
        ]
    },
    {
        "id": "14312e1b.d9ed72",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 1 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 900,
        "y": 160,
        "wires": [
            [
                "c2113f49.8c2fc"
            ]
        ]
    },
    {
        "id": "297c5f1b.a569e8",
        "type": "trigger",
        "z": "eeb41b0d.50724",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1080,
        "y": 180,
        "wires": [
            [
                "379a50cd.56088"
            ]
        ]
    },
    {
        "id": "7b49bf91.2de398",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 1 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 900,
        "y": 200,
        "wires": [
            [
                "297c5f1b.a569e8"
            ]
        ]
    },
    {
        "id": "7ab28476.8767d4",
        "type": "tcp in",
        "z": "eeb41b0d.50724",
        "name": "",
        "server": "server",
        "host": "",
        "port": "42068",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "dfa9f629.54e8a"
            ]
        ]
    },
    {
        "id": "dfa9f629.54e8a",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "78ddf04834c55221"
            ],
            [
                "78ddf04834c55221"
            ],
            [],
            []
        ]
    },
    {
        "id": "15f2e57e.678a33",
        "type": "mqtt in",
        "z": "eeb41b0d.50724",
        "name": "",
        "topic": "relay1",
        "qos": "0",
        "datatype": "auto",
        "broker": "5c32d8fa.de8ae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1450,
        "y": 120,
        "wires": [
            [
                "7683a9c9.94e5b"
            ]
        ]
    },
    {
        "id": "7683a9c9.94e5b",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1580,
        "y": 120,
        "wires": [
            [
                "7076ba96.9cd8e4"
            ],
            [
                "f1049daa.4559b8"
            ]
        ]
    },
    {
        "id": "7076ba96.9cd8e4",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 100,
        "wires": [
            [
                "379a50cd.56088"
            ]
        ]
    },
    {
        "id": "f1049daa.4559b8",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 140,
        "wires": [
            [
                "379a50cd.56088"
            ]
        ]
    },
    {
        "id": "cc6b1a7a.b95198",
        "type": "mqtt in",
        "z": "eeb41b0d.50724",
        "name": "",
        "topic": "relay2",
        "qos": "0",
        "datatype": "auto",
        "broker": "5c32d8fa.de8ae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1450,
        "y": 300,
        "wires": [
            [
                "67fa929c.9aaa8c"
            ]
        ]
    },
    {
        "id": "67fa929c.9aaa8c",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1570,
        "y": 300,
        "wires": [
            [
                "812cf9ec.b9f9b"
            ],
            [
                "c7839449.d195c"
            ]
        ]
    },
    {
        "id": "812cf9ec.b9f9b",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 280,
        "wires": [
            [
                "a7fa8c32.12231"
            ]
        ]
    },
    {
        "id": "c7839449.d195c",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 320,
        "wires": [
            [
                "a7fa8c32.12231"
            ]
        ]
    },
    {
        "id": "bf54e492.0dc368",
        "type": "mqtt in",
        "z": "eeb41b0d.50724",
        "name": "",
        "topic": "relay3",
        "qos": "0",
        "datatype": "auto",
        "broker": "5c32d8fa.de8ae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1450,
        "y": 480,
        "wires": [
            [
                "9ad9e597.c441c8"
            ]
        ]
    },
    {
        "id": "9ad9e597.c441c8",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1570,
        "y": 480,
        "wires": [
            [
                "6194f73c.5952a8"
            ],
            [
                "bd3cf640.54a1c8"
            ]
        ]
    },
    {
        "id": "6194f73c.5952a8",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 460,
        "wires": [
            [
                "b8e2a923.8f3318"
            ]
        ]
    },
    {
        "id": "bd3cf640.54a1c8",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 500,
        "wires": [
            [
                "b8e2a923.8f3318"
            ]
        ]
    },
    {
        "id": "3eea0a67.8345b6",
        "type": "mqtt in",
        "z": "eeb41b0d.50724",
        "name": "",
        "topic": "relay4",
        "qos": "0",
        "datatype": "auto",
        "broker": "5c32d8fa.de8ae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1450,
        "y": 660,
        "wires": [
            [
                "e0111b03.348e2"
            ]
        ]
    },
    {
        "id": "e0111b03.348e2",
        "type": "switch",
        "z": "eeb41b0d.50724",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1570,
        "y": 660,
        "wires": [
            [
                "eb7d82a9.ec707"
            ],
            [
                "8f847f18.f876c8"
            ]
        ]
    },
    {
        "id": "eb7d82a9.ec707",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 640,
        "wires": [
            [
                "89bf42cc.c12fd"
            ]
        ]
    },
    {
        "id": "8f847f18.f876c8",
        "type": "change",
        "z": "eeb41b0d.50724",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 680,
        "wires": [
            [
                "89bf42cc.c12fd"
            ]
        ]
    },
    {
        "id": "78ddf04834c55221",
        "type": "rbe",
        "z": "eeb41b0d.50724",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 120,
        "wires": [
            [
                "f9ccd729.dcc9a8",
                "379a50cd.56088"
            ]
        ]
    },
    {
        "id": "2b6b011f97c61ed4",
        "type": "rbe",
        "z": "eeb41b0d.50724",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 480,
        "wires": [
            [
                "b8e2a923.8f3318",
                "6d4f3d07.d14824"
            ]
        ]
    },
    {
        "id": "6cd18a751b74f234",
        "type": "rbe",
        "z": "eeb41b0d.50724",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 300,
        "wires": [
            [
                "b4ac983c.816398",
                "a7fa8c32.12231"
            ]
        ]
    },
    {
        "id": "68b247e0acd356a7",
        "type": "rbe",
        "z": "eeb41b0d.50724",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 660,
        "wires": [
            [
                "ead6e97b.9ffac",
                "89bf42cc.c12fd"
            ]
        ]
    },
    {
        "id": "a351116a98cb1222",
        "type": "trigger",
        "z": "eeb41b0d.50724",
        "name": "",
        "op1": "0",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "3000",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1080,
        "y": 700,
        "wires": [
            [
                "e34003d01b4a4e8d",
                "89bf42cc.c12fd"
            ]
        ]
    },
    {
        "id": "c6e3ce2581ff86df",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 4 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 960,
        "y": 760,
        "wires": [
            [
                "a351116a98cb1222"
            ]
        ]
    },
    {
        "id": "0fdd72d3b6a3e63a",
        "type": "debug",
        "z": "eeb41b0d.50724",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 780,
        "wires": []
    },
    {
        "id": "02dadb7127c1babd",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Ceiling fan/lights",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "d19824fc08e7c2fc",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Grow light",
        "info": "",
        "x": 100,
        "y": 240,
        "wires": []
    },
    {
        "id": "ab341cb3346fe6f5",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "N/A",
        "info": "",
        "x": 90,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b5c8571a0fe69f9",
        "type": "comment",
        "z": "eeb41b0d.50724",
        "name": "Pump",
        "info": "",
        "x": 90,
        "y": 600,
        "wires": []
    },
    {
        "id": "ce50a39f3efc6f85",
        "type": "inject",
        "z": "eeb41b0d.50724",
        "name": "Relay 2 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 19 * * *",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "6cd18a751b74f234"
            ]
        ]
    },
    {
        "id": "3974b04042dcaa55",
        "type": "debug",
        "z": "eeb41b0d.50724",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "e34003d01b4a4e8d",
        "type": "debug",
        "z": "eeb41b0d.50724",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 720,
        "wires": []
    },
    {
        "id": "160e81fb.f1c86e",
        "type": "ui_group",
        "name": "Home",
        "tab": "b63d1f91.68095",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false
    },
    {
        "id": "5c32d8fa.de8ae",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.0.0.111",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b63d1f91.68095",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
